/* TODO: Add sitewide styles */
@media (min-width: 2099px) {
  .spots-main {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.new-spot-container {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}
}

textarea {
  resize: none;
  height: 150px;
  width: 300px;
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.validation-errors {
  color: red;
}

body {
  background-color: #FAF9F6;
}