.profile-dropdown {
  position: relative;
  background-color: lightgray;
}

.hidden {
  display: none;
}

.logout-button-list-space {
  display: flex;
  justify-content: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.manage-spot-button {
  text-decoration: none;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background-color: transparent;  
}

.FrontPageLogo {
  height: 51px;
  width: 68px;
  padding: 10px;
}

.right-side-of-nav-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: black 1px solid;
}

.left-side-of-nav-bar {
  display: flex;
  align-items: center;
}

.left-side-of-nav-bar > a {
  display: flex;
}

.logo-title {
  color: lightsalmon;
  font-size: 25px;
  font-weight: bold;
}

.profile-menu {
  cursor: pointer;
}

#profile-logout-drop-down > li {
  cursor: pointer;
}